html {
    box-sizing: border-box ;
}

*, **::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0 auto;
}

nav {
    width: 99%;
}
    
.material-icons {
    font-family: apps;
    font-style: normal;
    font-weight: 400;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.nav-links {
    display: flex;
    list-style-type: none;
    margin: 5px;
    padding: 5px;

}

.nav-item a {
    display: flex;
    padding: 10px;
    text-decoration: none;
    color: rgb(43, 42, 42);;
    font-size: .74rem;
}

button {
    background-color: #4c8bf5;
    color: white;
    border: none;
    padding:15px 10px;
    text-align: center;
}

.img-container {
    position: relative;
    height: 210px;
    border-style: solid;
    border-width: 5px;
}
img {
    width: 25%;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-style: solid;
}

.searchbar {
    text-align: center;
    margin: 0 auto;
    position: relative;
}
.searchbox {
    width: 40%;
    padding: 12px 20px;
    border: 1px solid lightgray;
    border-radius: 20px;
  

}
.center_search {
    margin: auto;
    width: 80%;
}